:root {
  --off-black: #1b1212;
  --off-white: #faf9f6;
}

@font-face {
  font-family: "Pilowlava Regular";
  src: url(./font/pilowlava-regular.woff2);
}

@font-face {
  font-family: "Pilowlava Atome";
  src: url(./font/pilowlava-atome.woff2);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body {
  overflow: hidden;
  /* font-family: "Pilowlava Regular"; */
  color: var(--off-black);
  background-color: var(--off-white);
}

.swarm {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.btn-menu {
  margin: 10px;

  img {
    width: 80px;
    height: 80px;
  }
}

.nav-menu {
  position: fixed;
  background-color: pink;
  text-align: center;
  inset: 0;
  translate: 100vw 0;
  transition: translate 0.5s ease-in-out;
}

.btn-open,
.btn-close {
  display: block;
  background: none;
  border: none;
  margin-inline-start: auto;
}

.list-nav-links li {
  list-style-type: none;
}

.nav-link {
  font-size: 30px;
  text-decoration: none;
  color: var(--off-black);
}

.about-bio {
  font-family: "Inter", sans-serif;
}

.about-img img {
  width: 300px;
  display: none;
}

#copy-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.about-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (any-pointer: coarse) {
  #swarm {
    display: none;
  }
}
