:root {
  --off-black: #1b1212;
  --off-white: #faf9f6;
  /* --primary-color: #aba9ce; */
  --primary-color: #afadcc;
  --secondary-color: #ffb7f8;
  --fun-font: "Pilowlava Regular";
  --fun-font-hover: "Pilowlava Atome";
}

@font-face {
  font-family: "Pilowlava Regular";
  src: url(../font/pilowlava-regular.woff2);
}

@font-face {
  font-family: "Pilowlava Atome";
  src: url(../font/pilowlava-atome.woff2);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body {
  font-family: Inter, sans-serif;
  color: var(--off-white);
  background-color: var(--primary-color);
}

.overflow-hidden {
  overflow: hidden;
}

.wrapper-lg {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper {
  padding: 150px 0 100px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  background-color: transparent;
}

.logo {
  margin: 10px;

  img {
    width: 80px;
    height: 80px;
  }

  background: none;
  border: none;
}

.btn-menu {
  margin: 10px;

  img {
    width: 80px;
    height: 80px;
  }
  cursor: pointer;
}

.nav-menu {
  position: fixed;
  background-color: var(--secondary-color);
  text-align: center;
  inset: 0;
  display: none;
}

.btn-open {
  background: none;
  border: none;
}

.btn-close {
  display: block;
  background: none;
  border: none;
  margin-inline-start: auto;
}

.list-nav-links li {
  list-style-type: none;
}

.nav-link,
.contact-link {
  font-family: var(--fun-font);
  font-size: 80px;
  text-decoration: none;
  color: var(--off-white);
}

.nav-link:hover,
.contact-link:hover {
  font-family: var(--fun-font-hover);
}

.selected {
  color: var(--primary-color);
}

.relative {
  position: relative;
  height: 100vh;
  max-width: 1200px;
}

.center {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* HOMEPAGE */
.hero h1 {
  font-family: var(--fun-font);
  font-size: 100px;
  text-align: center;
}

.swarm {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

/* ABOUT */
.about-bio {
  font-size: 50px;
}

.education-workshops-container {
  background-color: var(--primary-color);
  margin-top: 90px;
}

.education-container {
  margin-bottom: 20px;
}

table {
  border-spacing: 10px;
}

/* WORK SECTION */
.wavy-line-container {
  width: 100%;
  height: 40px;
  overflow: hidden;
}

.project-row {
  max-width: 1200px;
  margin: 0 auto;
}

.project-name-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  column-gap: 100px;
}

.project-details {
  a {
    font-size: 50px;
    text-decoration: none;
    color: var(--off-white);
    font-weight: 500;
    line-height: 1;
    word-break: auto;
    hyphens: auto;
  }

  a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 4px;
  }

  p {
    font-size: 12px;
    margin-top: 20px;
  }
}

/* CONTACT SECTION  */
.contacts {
  text-align: center;
}

.contacts > * {
  font-family: var(--fun-font);
}

#email {
  position: relative;
  cursor: default;
}

#email:hover {
  font-family: var(--fun-font);
}

#copy-btn {
  cursor: pointer;
  width: 160px;
  position: absolute;
  left: 92%;
  bottom: 0;
}

.email-star {
  width: 120px;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/dots.svg");

  z-index: -1;
  cursor: pointer;
}

@media (any-pointer: coarse) {
  body {
    -webkit-tap-highlight-color: transparent;
  }

  #swarm {
    display: none;
  }
}

@media (max-width: 1200px) {
  .hero {
    padding: 50px;
  }
  .hero h1,
  .nav-link,
  .contact-link {
    font-size: 70px;
  }

  .about-bio {
    padding: 0 30px;
  }

  .education-workshops-container {
    padding: 0 30px;
  }

  .project-row {
    padding: 0 30px;
  }
}

@media (max-width: 768px) {
  .hero h1,
  .nav-link,
  .contact-link {
    font-size: 50px;
  }
  .about-bio {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  .hero {
    padding: 10px;
  }

  .hero h1,
  .nav-link,
  .contact-link {
    font-size: 40px;
  }

  .about-bio {
    font-size: 20px;
    padding: 0 10px;
  }

  .education-workshops-container {
    padding: 0 10px;
  }

  .project-row {
    padding: 0 20px;
  }

  .project-row a {
    font-size: 20px;
    font-weight: bold;
  }

  .project-name-link {
    column-gap: 30px;
  }

  .arrow-link {
    width: 70px;
  }

  #copy-btn {
    width: 130px;
    left: 82%;
  }
}
